<!--
Adam Tremarche
4/13/19
view messages page for CSC648 project
-->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style.css"> -->

  <!-- global site tag (gtag.js) - google analytics -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- js functions -->
  <script>
    //import the navbar
    // $(document).ready(function () {
    //   $('#nav-placeholder').load('navbar.html');
    // });
    function swapDash(tabName) {
      var boxName = document.getElementById('boxName');
      var inbox = document.getElementById('inbox');
      var outbox = document.getElementById('outbox');
      //show inbox
      if (tabName == 'inbox') {
        boxName.innerHTML = 'Inbox';
        inbox.style.display = 'block';
        outbox.style.display = 'none';
        listings.style.display = 'none';
        favorites.style.display = 'none';
        //show outbox
      } else if (tabName == 'outbox') {
        boxName.innerHTML = 'Outbox';
        outbox.style.display = 'block';
        inbox.style.display = 'none';
        listings.style.display = 'none';
        favorites.style.display = 'none';
        //show my listings
      } else if (tabName == 'listings') {
        boxName.innerHTML = 'My Listings';
        listings.style.display = 'block';
        inbox.style.display = 'none';
        outbox.style.display = 'none';
        favorites.style.display = 'none';
        //show my favorites
      } else if (tabName == 'favorites') {
        boxName.innerHTML = 'My Favorites';
        favorites.style.display = 'block';
        inbox.style.display = 'none';
        outbox.style.display = 'none';
        listings.style.display = 'none';
      }
    };
  </script>

  <title>Oasis</title>

</head>

<body>

  <!-- import the navigation bar -->
  <%- include partials/navbar.ejs %>
  <!-- <div id="nav-placeholder"></div> -->

  <%- messages('message', locals) %>

  <!-- bootsrap columns -->
  <div class="row">

    <!-- left hand menu bar -->
    <div class="col-sm-2">
      <div class="container">
        <div class="list-group">
          <br>
          <button type="button" id="inboxButton" class="list-group-item list-group-item-action"
            onclick="swapDash('inbox');">Inbox</button>
          <button type="button" id="outboxButton" class="list-group-item list-group-item-action"
            onclick="swapDash('outbox');">Outbox</button>
          <button type="button" id="listingsButton" class="list-group-item list-group-item-action"
            onclick="swapDash('listings');">My Listings</button>
          <button type="button" id="favoritesButton" class="list-group-item list-group-item-action"
            onclick="swapDash('favorites');">My Favorites</button>
          <button type="button" id="adminDashButton" class="list-group-item list-group-item-action" disabled>Admin
            Dashboard</button>
        </div>
      </div>


    </div>

    <!-- whitespace -->
    <div class="col-sm-1"></div>

    <!-- display window -->
    <div class="col-sm-8">
      <br>

      <!-- box header -->
      <div class="d-flex justify-content-center p-3 bg-secondary text-white">
        <div class="p-3 bg-secondary" id="boxName">
          Inbox
        </div>
      </div>

      <!--inbox window -->
      <div id="inbox" class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>From</th>
              <th>Contents</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>JohnD</td>
              <td>Hey! I really like that aparement you posted on Mission. Is it still available?</td>
              <td>5:00 PM 4/19/19</td>
            </tr>
            <tr>
              <td>JohnD</td>
              <td>Hey! I really like that aparement you posted on Mission. Is it still available?</td>
              <td>5:00 PM 4/19/19</td>
            </tr>
            <tr>
              <td>JohnD</td>
              <td>Hey! I really like that aparement you posted on Mission. Is it still available?</td>
              <td>5:00 PM 4/19/19</td>
            </tr>
            <tr>
              <td>JohnD</td>
              <td>Hey! I really like that aparement you posted on Mission. Is it still available?</td>
              <td>5:00 PM 4/19/19</td>
            </tr>
            <tr>
              <td>JohnD</td>
              <td>Hey! I really like that aparement you posted on Mission. Is it still available?</td>
              <td>5:00 PM 4/19/19</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- outbox window-->
      <div class="container" id="outbox">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>To</th>
              <th>Contents</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MonicaP</td>
              <td>Yes! It's still available! Would you like to come look at it?</td>
              <td>7:45 PM 4/22/19</td>
            </tr>
            <tr>
              <td>MonicaP</td>
              <td>Yes! It's still available! Would you like to come look at it?</td>
              <td>7:45 PM 4/22/19</td>
            </tr>
            <tr>
              <td>MonicaP</td>
              <td>Yes! It's still available! Would you like to come look at it?</td>
              <td>7:45 PM 4/22/19</td>
            </tr>
            <tr>
              <td>MonicaP</td>
              <td>Yes! It's still available! Would you like to come look at it?</td>
              <td>7:45 PM 4/22/19</td>
            </tr>
            <tr>
              <td>MonicaP</td>
              <td>Yes! It's still available! Would you like to come look at it?</td>
              <td>7:45 PM 4/22/19</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- My listings window -->
      <div id="listings" class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Address</th>
              <th>Date Posted</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123 Mission St. Unit C</td>
              <td>7:30 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>123 Mission St. Unit C</td>
              <td>7:30 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>123 Mission St. Unit C</td>
              <td>7:30 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>123 Mission St. Unit C</td>
              <td>7:30 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>123 Mission St. Unit C</td>
              <td>7:30 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- favorites window -->
      <div id="favorites" class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Address</th>
              <th>User</th>
              <th>Date Posted</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>777 19th St. Unit 23</td>
              <td>bagelLord</td>
              <td>7:43 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>777 19th St. Unit 23</td>
              <td>bagelLord</td>
              <td>7:43 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>777 19th St. Unit 23</td>
              <td>bagelLord</td>
              <td>7:43 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>777 19th St. Unit 23</td>
              <td>bagelLord</td>
              <td>7:43 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>777 19th St. Unit 23</td>
              <td>bagelLord</td>
              <td>7:43 PM 4/25/19</td>
              <td><a href="#">link</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <h1>
        Messenger:
      </h1><br>
      <textarea name="description" form="listingInput" placeholder="Write your message here." rows="4" cols="89"
        required></textarea>
      <input type="text" name="sentUser" placeholder="Enter the recipient's username here." required
        class="form-control">
      <br>
      <button type="button" class="btn btn-outline-light" name="submit" onclick=""
        style="background-color:#ac17e8">Submit Message</button>
      <br><br>
      <button type="button" class="btn btn-outline-light" name="back" onclick=""
        style="background-color:#ac17e8">Back</button>
      <br><br>
    </div>

    <!-- whitespace -->
    <!-- <div class="col-sm-1"></div> -->
<br>
<div><%- include partials/footer.ejs %></div>
</body>

</html> 
