<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script>
    $(document).ready(function(){
        $('#nav-placeholder').load('navbar.html');
    });
    </script>
 -->  </head>
  <body>
    <!-- Navigation bar-->
    <%- include partials/navbar.ejs %>
    <!-- <div id="nav-placeholder"></div> -->
    <br>
    <%- messages('message', locals) %>
    <br>


      <div class="row">

        <div class="bs-example border border-light" id ="signin">
            <h1 style="margin-left: 100px"> Log in </h1>
            
          <form action="/login" method="POST" class="form-horizontal needs-validation" >

              <div class="form-group">
                  <label for="inputEmail" class="control-label col-xs-2"><b>Email</b></label>
                  <div class="col-xs-10">
                      <input name="email", type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputPassword" class="control-label col-xs-2"><b>Password</b>
                  </label>
                  <div class="col-xs-10">
                      <input name="password", type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-10">
                      <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-xs-offset-4 col-xs-10">
                     <h6 style="margin-left:130px;font-size:14px"> New to Oasis?</h6>
                      <button type="submit" class="btn btn-secondary btn-lg"><a href="/register">Sign up</a></button>
                  </div>
              </div>

          </form>
          </div>

          </div>
          <br>


    <div><%- include partials/footer.ejs %></div>
  </body>
</html>